<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #D7DBDD;">
    <div class="container">
        <!-- <a class="navbar-brand" routerLink="/Welcome">WAVERLEY SSO DEMO</a> -->
        <a class="navbar-brand" href="#">
            <img
              src="../assets/logo.svg"
              height="20"
              alt="Waverley Logo"
              loading="lazy"
            />
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mb-2 mb-md-0 h6">
                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" routerLink="/welcome" routerLinkActive="active">WELCOME</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-md-0 h6">
                <li *ngIf="isHomeComponentAccesssible()" class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">HOME</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-md-0 h6">
                <li *ngIf="isTaskComponentAccessible()" class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/task" routerLinkActive="active">MY TASK</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-md-0 h6">
                <li *ngIf="isManagementComponentAccessible()" class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/management" routerLinkActive="active">MANAGEMENT</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a *ngIf="!hasLoggedIn" role="button" class="nav-link" (click)="login()">Login</a>
                </li>
                <li *ngIf="hasLoggedIn" class="nav-item">
                    <a role="button" class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>