<div class="container">
    <div class="row mt-3">
        <div class="col">
            <button type="button" class="btn btn-outline-primary" (click)="openAddTaskModal()">Add new task</button>
        </div>
    </div>
</div>
<!-- Modal Add new task-->
<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTaskModalLabel">Add new task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="taskForm" (ngSubmit)="taskFormSubmit()">
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    formControlName="title"
                  />
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <input
                    type="text"
                    class="form-control"
                    id="description"
                    formControlName="description"
                  />
                </div>
                <div class="mb-3">
                  <label for="status" class="form-label">Status</label>
                  <input
                    type="text"
                    class="form-control"
                    id="status"
                    formControlName="status"
                  />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </form> 
        </div>
      
      </div>
    </div>
</div>

<div class="container mt-5">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td>{{task.status}}</td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="openEditForm(task)">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteTask(task)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>